html, body{
    margin: 0;
    background-color: rgb(255, 203, 219);
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: center;
    border: 2px solid black;
}
.topnav{
    border: 2px solid gray;
    background-color: rgb(255, 230, 237);
    min-height: 50px;
    
}
/*estilo dos links da barra de navegação*/
.topnav a{
    float: left;
    padding-top: 10px;    
    border: 1px solid gray;
    border-top: 0;
    
    font-size: medium;
    margin-left: 20px;
    text-decoration: none;
}

.topnav a:hover{
    background-color: rgb(255, 203, 219);
    color: #24292e;
}

div{
    border: 2px solid black;
    text-align: center;
    
}



footer{
    text-align: center;
    border: 2px solid black;
}